---
import '../index.css';
import {css} from "../../styled-system/css";
import Mission from "../sections/mission.astro";
import Vision from "../sections/vision.astro";
import Valeurs from "../sections/valeurs.astro";
import Offre from "../sections/offre.astro";

const link = css({
    "&:hover": {
        textDecoration: "underline",
        cursor: "pointer",
        color: "secondary.100",
    }
});

const vr = css({
    width: "1px",
    height: "1rem",
    marginX: "0.7rem",
    borderRight: "2px solid white",
});
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Neatcraft</title>
</head>
<body class={css({
    bgColor: "primary.100",
    color: "white",
})}>
<header class={css({
    display: "flex",
    position: "fixed",
    top: "0",
    left: "0",
    justifyContent: {xs: "center", lg: "space-between"},
    paddingRight: "1.5%",
    height: {_portrait: "10vh", _landscape: {xs: "10vw", lg: "3vw"}},
    width: "100%",
    bgColor: "primary.100",
    fontFamily: "montserrat",
    color: "white",
    fontSize: "0.8em",
    fontWeight: "500",
})}>
    <img src="/img/logos/neatcraft.svg" alt="Neatcraft" class={css({
        _portrait: {
            width: "14vh",
            height: "14vh"
        },
        _landscape: {
            width: {xs: "14vw", lg: "5vw"},
            height: {xs: "14vw", lg: "5vw"},
        },
        margin: "1rem",
    })}/>

    <nav class={css({
        height: "100%",
    })}>
        <ul class={css({
            _portrait: {
                display: {xs: "none", lg: "flex"},
            },
            _landscape: {
                display: "flex",
            },
            height: "100%",
            alignItems: "center",
            overflowY: "hidden",
            overflowX: "auto",
        })}>
            <li><a href="#mission" class={link}>Mission</a></li>
            <li aria-hidden="true" class={vr}/>
            <li><a href="#vision" class={link}>Vision</a></li>
            <li aria-hidden="true" class={vr}/>
            <li><a href="#valeurs" class={link}>Valeurs</a></li>
            <li aria-hidden="true" class={vr}/>
            <li><a href="#offre" class={link}>Offre</a></li>
            <li><a href="/contact" class={css({
                display: "inline-block",
                bgColor: "secondary.100",
                fontWeight: "800",
                marginLeft: "2rem",
                padding: ".7rem 1rem",
                borderRadius: "xl",
                border: "2px solid {color.secondary.100}",
                "&:hover": {
                    bgColor: "secondary.300",
                    color: "primary.200",
                }
            })}>Nous Contacter</a></li>
        </ul>
    </nav>
</header>
<main class={css({
    _portrait: {
        marginTop: "15vh",
    },
    _landscape: {
        marginTop: {xs: "15vw", lg: "5vw"},
    },
})}>
    <Mission/>
    <Vision/>
    <Valeurs/>
    <Offre/>
</main>
<div class={css({
    _portrait: {
        display: {xs: "flex", lg: "none"},
    },
    _landscape: {
        display: "none",
    },
    position: "fixed",
    justifyContent: "center",
    width: "100%",
    bgColor: "primary.100",
    paddingY: "5%",
    bottom: "0",
})}>
    <a href="/contact" class={css({
        bgColor: "secondary.100",
        color: "white",
        fontFamily: "montserrat",
        fontSize: "1.2em",
        fontWeight: "900",
        marginLeft: "2rem",
        padding: "1rem 1rem",
        borderRadius: "xl",
        border: "2px solid {color.secondary.100}",
    })}>Nous Contacter</a>
</div>
<footer class={css({
    paddingY: "3%",
    _portrait: {
        marginBottom: {xs: "15vh", lg: "0"},
    }
})}>
    <p class={css({textAlign: "center"})}>Copyright © 2024 Neatcraft - Tous droits réservés</p>
</footer>
</body>
</html>


