---
import '../index.css';
import {css} from "../../styled-system/css";
import Mission from "../sections/mission.astro";
import Vision from "../sections/vision.astro";
import Valeurs from "../sections/valeurs.astro";
import Offre from "../sections/offre.astro";

const link = css({
	"&:hover": {
		textDecoration: "underline",
		cursor: "pointer",
		color: "secondary.100",
	}
});

const vr = css({
	width: "1px",
	height: "1rem",
	marginX: "0.7rem",
	borderRight: "2px solid white",
});
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neatcraft</title>
	</head>
	<body class={css({
		bgColor: "primary.100",
		color: "white",
	})}>
		<header class={css({
			display: "flex",
			position: "fixed",
			top: "0",
			left: "0",
			justifyContent: "end",
			paddingRight: "1.5%",
			height: "7vh",
			width: "100%",
			bgColor: "primary.100",
			fontFamily: "montserrat",
			color: "white",
			fontSize: "1.2em",
			fontWeight: "500",
		})}>
			<nav class={css({height: "100%"})}>
				<ul class={css({
					height: "100%",
					display: "flex",
					alignItems: "center",
				})}>
					<li><a href="#mission" class={link}>Mission</a></li>
					<li aria-hidden="true" class={vr}/>
					<li><a href="#vision" class={link}>Vision</a></li>
					<li aria-hidden="true" class={vr}/>
					<li><a href="#valeurs" class={link}>Valeurs</a></li>
					<li aria-hidden="true" class={vr}/>
					<li><a href="#offre" class={link}>Offre</a></li>
					<li><a href="/(contact"  class={css({
						bgColor: "secondary.100",
						color: "primary.100",
						marginLeft: "2rem",
						padding: ".7rem 1rem",
						borderRadius: "xl",
						border: "2px solid {color.secondary.100}",
						"&:hover": {
							bgColor: "secondary.300",
							color: "primary.200",
						}
					})} >Nous Contacter</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<Mission/>
			<Vision/>
			<Valeurs/>
			<Offre/>
		</main>
		<footer>
			<p class={css({textAlign: "center"})}>Copyright © 2024 Neatcraft - Tous droits réservés</p>
		</footer>
	</body>
</html>


