---
import '../index.css';
import {css} from "../../styled-system/css";
import Mission from "../sections/mission.astro";
import Vision from "../sections/vision.astro";
import Valeurs from "../sections/valeurs.astro";

const link = css({
	"&:hover": {
		textDecoration: "underline",
		cursor: "pointer",
		color: "secondary.100",
	}
});
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neatcraft</title>
	</head>
	<body>
		<header class={css({
			display: "flex",
			position: "fixed",
			top: "0",
			left: "0",
			justifyContent: "end",
			paddingRight: "1.5%",
			height: "7vh",
			width: "100%",
			bgColor: "primary.100",
			fontFamily: "montserrat",
			color: "white",
			fontSize: "1.2em",
			fontWeight: "500",
		})}>
			<nav class={css({height: "100%"})}>
				<ul class={css({
					height: "100%",
					display: "flex",
					alignItems: "center",
                    "& li": {
                        borderRight: "2px solid white",
                        paddingX: "10px",
                        "&:last-child": {
                            borderRight: "none",
                            paddingRight: "0"
                        }
                    }
				})}>
					<li><a href="#mission" class={link}>Mission</a></li>
					<li><a href="#vision" class={link}>Vision</a></li>
					<li><a class={link}>Valeurs</a></li>
					<li><a class={link}>Axes de travail</a></li>
					<li><a class={link}>Domaines</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<Mission/>
			<Vision/>
			<Valeurs/>
		</main>
	</body>
</html>


