---
import {css} from "../../styled-system/css";
import {section, title} from "../../styled-system/patterns";
import CardTitle from "../components/card/CardTitle.astro";
import CardParagraph from "../components/card/CardParagraph.astro";
import {paragraph} from "../../styled-system/patterns";
import NavigationButton from "../components/navigation/navigationButton.astro";
import SectionTitle from "../components/section/title/sectionTitle.astro";
import Subtitle from "../components/section/subtitle.astro";


const informationTextClass = css({
    display: "flex",
    flexDirection: "column",
    color: "white",
    fontFamily: "montserrat",
    fontSize: {xs: "1.2rem", md: "1.8rem"},
    fontWeight: "300",
    alignItems: "center",
    justifyContent: "center"
});

const iconStyle = css({
    width: "5vh",
    height: "5vh",
});
---

<section id="contact" class={section({
    bgColor: "primary.100",
    bgImage: "url(/img/triangle.svg)",
    flexDir: "column",
    color: "white"
})}>
    <SectionTitle titleClass={title()}>contact</SectionTitle>
    <Subtitle>Antoine Jouan</Subtitle>
    <p class={paragraph()}>Consultant en Stratégie & Tactique IT et en Efficacité Opérationnelle</p>
    <ul class={css({
        display: 'flex',
        flexDirection: 'column',
        alignItems: "center",
        gap: '2rem',
        marginTop: '2%',
    })}>
        <li>

            <a class={informationTextClass} href="mailto:contact@neatcraft.fr">
                <img src="/img/icons/mail.svg" class={iconStyle} alt="Email Icon" />
                contact@neatcraft.fr
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jouana/" class={iconStyle} target="_blank" rel="noopener noreferrer">
                <img src="/img/logos/logo_linkedin.webp" alt="LinkedIn Logo" />
            </a>
        </li>
    </ul>
</section>
